

<!-- Carousel Start -->
<div class="container" style="max-width:1800px;">

    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100 img-fluid" src="img/carousel-1.jpg" alt="Image" style="height: auto; max-height: 100vh; object-fit: contain;">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3">
                        <h4 class="text-primary text-uppercase font-weight-normal mb-md-3">Thiết kế nội thất sáng tạo</h4>
                        <h3 class="display-4 text-white mb-md-4">Làm cho ngôi nhà của bạn đẹp hơn</h3>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2 mt-md-4">Tìm hiểu thêm</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100 img-fluid" src="img/carousel-2.jpg" alt="Image" style="height: auto; max-height: 100vh; object-fit: contain;">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3">
                        <h4 class="text-primary text-uppercase font-weight-normal mb-md-3">Thiết kế nội thất sáng tạo</h4>
                        <h3 class="display-4 text-white mb-md-4">Làm cho ngôi nhà của bạn đẹp hơn</h3>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2 mt-md-4">Tìm hiểu thêm</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-primary" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-primary" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n2"></span>
            </div>
        </a>
    </div>
</div>


<!-- Carousel End -->
<!-- Projects Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col text-center mb-4">
                <h1 class="text-primary font-weight-normal text-uppercase mb-3">Dự án tiêu biểu</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mb-2">
                <ul class="list-inline mb-4" id="portfolio-flters">
                    <li class="btn btn-outline-primary m-1 active" data-filter="*">All</li>
                    <li class="btn btn-outline-primary m-1" data-filter=".first">Complete</li>
                    <li class="btn btn-outline-primary m-1" data-filter=".second">Running</li>
                    <li class="btn btn-outline-primary m-1" data-filter=".third">Upcoming</li>
                </ul>
            </div>
        </div>
        <div class="row mx-1 portfolio-container">
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item first">
                <div class="position-relative overflow-hidden">
                    <div class="portfolio-img d-flex align-items-center justify-content-center">
                        <img class="img-fluid fixed-size" src="img/portfolio-1.jpg" alt="">
                    </div>
                    <div class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                        <h4 class="text-white mb-4">Thiết kế nội thất phòng khách</h4>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn btn-outline-primary m-1" href="">
                                <i class="fa fa-link"></i>
                            </a>
                            <a class="btn btn-outline-primary m-1" href="img/portfolio-1.jpg" data-lightbox="portfolio">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item second">
                <div class="position-relative overflow-hidden">
                    <div class="portfolio-img d-flex align-items-center justify-content-center">
                        <img class="img-fluid fixed-size" src="img/portfolio-2.jpg" alt="">
                    </div>
                    <div class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                        <h4 class="text-white mb-4">Thiết kế nội thất nhà bếp</h4>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn btn-outline-primary m-1" href="">
                                <i class="fa fa-link"></i>
                            </a>
                            <a class="btn btn-outline-primary m-1" href="img/portfolio-2.jpg" data-lightbox="portfolio">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item third">
                <div class="position-relative overflow-hidden">
                    <div class="portfolio-img d-flex align-items-center justify-content-center">
                        <img class="img-fluid fixed-size" src="img/portfolio-3.jpg" alt="">
                    </div>
                    <div class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                        <h4 class="text-white mb-4">Thiết kế nội thất phòng ngủ</h4>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn btn-outline-primary m-1" href="">
                                <i class="fa fa-link"></i>
                            </a>
                            <a class="btn btn-outline-primary m-1" href="img/portfolio-3.jpg" data-lightbox="portfolio">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item first">
                <div class="position-relative overflow-hidden">
                    <div class="portfolio-img d-flex align-items-center justify-content-center">
                        <img class="img-fluid fixed-size" src="img/portfolio-4.jpg" alt="">
                    </div>
                    <div class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                        <h4 class="text-white mb-4">Thiết kế nội thất phòng làm việc</h4>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn btn-outline-primary m-1" href="">
                                <i class="fa fa-link"></i>
                            </a>
                            <a class="btn btn-outline-primary m-1" href="img/portfolio-4.jpg" data-lightbox="portfolio">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item second">
                <div class="position-relative overflow-hidden">
                    <div class="portfolio-img d-flex align-items-center justify-content-center">
                        <img class="img-fluid fixed-size" src="img/portfolio-5.jpg" alt="">
                    </div>
                    <div class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                        <h4 class="text-white mb-4">Thiết kế nội thất bàn bar</h4>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn btn-outline-primary m-1" href="">
                                <i class="fa fa-link"></i>
                            </a>
                            <a class="btn btn-outline-primary m-1" href="img/portfolio-5.jpg" data-lightbox="portfolio">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item third">
                <div class="position-relative overflow-hidden">
                    <div class="portfolio-img d-flex align-items-center justify-content-center">
                        <img class="img-fluid fixed-size " src="img/portfolio-6.jpg" alt="">
                    </div>
                    <div class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                        <h4 class="text-white mb-4">Thiết kế nội thất phòng tắm</h4>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn btn-outline-primary m-1" href="">
                                <i class="fa fa-link"></i>
                            </a>
                            <a class="btn btn-outline-primary m-1" href="img/portfolio-6.jpg" data-lightbox="portfolio">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Projects End -->

<section class="bg-image" style="background: url('/img/noithat.jpg') no-repeat center center/cover; padding: 60px 0;">
    <div class="container">
        <div class="row align-items-center">
            <!-- Cột 1: Xem bảng giá -->
            <div class="col-md-6 text-center mb-4 mb-md-0">
                <a href="#" class="text-white fw-bold display-4 text-decoration-none" title="Click để xem bảng giá">
                    XEM BẢNG GIÁ
                </a>
            </div>

            <!-- Cột 2: Đăng ký nhận báo giá -->
            <div class="col-md-6">
                <div class="p-4 bg-light bg-opacity-75 rounded-3 shadow">
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="text-dark mb-0 d-flex align-items-center fs-3 fw-bold">
                            Đăng ký
                            <img alt="icon" src="/img/iconhand.png" width="40" class="ms-3" />
                        </p>
                        <button class="btn btn-danger btn-lg shadow-sm" data-bs-toggle="modal" data-bs-target="#pop-box-dangkyBG">
                            TẠI ĐÂY ĐỂ NHẬN BÁO GIÁ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section Thiết Kế Nội Thất -->
<section class="py-5">
    <div class="container">
        <!-- Tiêu đề -->
        <h2 class="text-center text-primary fw-bold mb-4">THIẾT KẾ NỘI THẤT</h2>

        <!-- Carousel -->
        <div id="designCarousel" class="carousel slide" data-bs-ride="carousel">
            <!-- Indicators (chấm tròn bên dưới) -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#designCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#designCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#designCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

            <!-- Carousel Items -->
            <div class="carousel-inner">
                <!-- Slide 1 -->
                <div class="carousel-item active">
                    <div class="row">
                        <!-- Hình 1 -->
                        <div class="col-md-4">
                            <img src="~/img/portfolio-1.jpg" class="d-block w-100 rounded-3 shadow" alt="Thiết kế nội thất chung cư">
                            <div class="text-center mt-3">
                                <p class="mb-0 fw-semibold">Thiết kế nội thất chung cư</p>
                            </div>
                        </div>
                        <!-- Hình 2 -->
                        <div class="col-md-4">
                            <img src="~/img/portfolio-2.jpg" class="d-block w-100 rounded-3 shadow" alt="Thiết kế nội thất căn hộ">
                            <div class="text-center mt-3">
                                <p class="mb-0 fw-semibold">Thiết kế nội thất căn hộ</p>
                            </div>
                        </div>
                        <!-- Hình 3 -->
                        <div class="col-md-4">
                            <img src="~/img/portfolio-3.jpg" class="d-block w-100 rounded-3 shadow" alt="Thiết kế nội thất biệt thự">
                            <div class="text-center mt-3">
                                <p class="mb-0 fw-semibold">Thiết kế nội thất biệt thự</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/img/portfolio-1.jpg" class="d-block w-100 rounded-3 shadow" alt="Thiết kế nội thất chung cư 2">
                            <div class="text-center mt-3">
                                <p class="mb-0 fw-semibold">Thiết kế nội thất chung cư 2</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="~/img/portfolio-2.jpg" class="d-block w-100 rounded-3 shadow" alt="Thiết kế nội thất căn hộ 2">
                            <div class="text-center mt-3">
                                <p class="mb-0 fw-semibold">Thiết kế nội thất căn hộ 2</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="~/img/portfolio-3.jpg" class="d-block w-100 rounded-3 shadow" alt="Thiết kế nội thất biệt thự 2">
                            <div class="text-center mt-3">
                                <p class="mb-0 fw-semibold">Thiết kế nội thất biệt thự 2</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- End Thiết Kế Nội Thất -->
<!-- Section Thi Công Nội Thất -->
<section class="py-5">
    <div class="container">
        <!-- Tiêu đề -->
        <h2 class="text-center text-primary fw-bold mb-4">THI CÔNG NỘI THẤT</h2>

        <!-- Carousel -->
        <div id="constructionCarousel" class="carousel slide" data-bs-ride="carousel">
            <!-- Indicators (chấm tròn bên dưới) -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#constructionCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#constructionCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#constructionCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

            <!-- Carousel Items -->
            <div class="carousel-inner">
                <!-- Slide 1 -->
                <div class="carousel-item active">
                    <div class="row">
                        <!-- Hình 1 -->
                        <div class="col-md-4">
                            <img src="~/img/portfolio-1.jpg" class="d-block w-100 rounded-3 shadow" alt="Thi công nội thất chung cư">
                            <div class="text-center mt-3">
                                <p class="mb-0 fw-semibold">Thi công nội thất chung cư</p>
                            </div>
                        </div>
                        <!-- Hình 2 -->
                        <div class="col-md-4">
                            <img src="~/img/portfolio-2.jpg" class="d-block w-100 rounded-3 shadow" alt="Thi công nội thất căn hộ">
                            <div class="text-center mt-3">
                                <p class="mb-0 fw-semibold">Thi công nội thất căn hộ</p>
                            </div>
                        </div>
                        <!-- Hình 3 -->
                        <div class="col-md-4">
                            <img src="~/img/portfolio-3.jpg" class="d-block w-100 rounded-3 shadow" alt="Thi công nội thất biệt thự">
                            <div class="text-center mt-3">
                                <p class="mb-0 fw-semibold">Thi công nội thất biệt thự</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/img/portfolio-1.jpg" class="d-block w-100 rounded-3 shadow" alt="Thi công nội thất chung cư 2">
                            <div class="text-center mt-3">
                                <p class="mb-0 fw-semibold">Thi công nội thất chung cư 2</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="~/img/portfolio-2.jpg" class="d-block w-100 rounded-3 shadow" alt="Thi công nội thất căn hộ 2">
                            <div class="text-center mt-3">
                                <p class="mb-0 fw-semibold">Thi công nội thất căn hộ 2</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="~/img/portfolio-3.jpg" class="d-block w-100 rounded-3 shadow" alt="Thi công nội thất biệt thự 2">
                            <div class="text-center mt-3">
                                <p class="mb-0 fw-semibold">Thi công nội thất biệt thự 2</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- End Thi Công Nội Thất -->
<!-- Start quy trình làm việc-->
<div class="container">
    <h2 class="text-center text-primary my-4">🔹 QUY TRÌNH LÀM VIỆC CHUYÊN NGHIỆP 🔹</h2>
    <div class="row g-4">
        <div class="col-md-4">
            <div class="process-box">
                <i class="fas fa-comments"></i>
                <h5>Bước 1: Tiếp Nhận Yêu Cầu & Tư Vấn Ban Đầu</h5>
                <p>📌 Lắng nghe nhu cầu khách hàng, tư vấn giải pháp phù hợp. 📌 Khảo sát thực tế công trình hoặc trao đổi trực tuyến.</p>
                <span class="process-number">01</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="process-box">
                <i class="fas fa-lightbulb"></i>
                <h5>Bước 2: Đề Xuất Ý Tưởng & Thiết Kế Sơ Bộ</h5>
                <p>📌 Phác thảo ý tưởng ban đầu, xác định phong cách thiết kế. 📌 Ký hợp đồng thiết kế và tiến hành dựng bản vẽ 2D, 3D.</p>
                <span class="process-number">02</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="process-box">
                <i class="fas fa-file-invoice-dollar"></i>
                <h5>Bước 3: Hoàn Thiện Thiết Kế & Báo Giá Thi Công</h5>
                <p>📌 Chỉnh sửa và hoàn thiện bản vẽ theo yêu cầu. 📌 Lập dự toán chi tiết và gửi báo giá thi công.</p>
                <span class="process-number">03</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="process-box">
                <i class="fas fa-handshake"></i>
                <h5>Bước 4: Ký Hợp Đồng & Triển Khai Thi Công</h5>
                <p>📌 Chốt phương án, ký hợp đồng thi công nội thất. 📌 Sản xuất, thi công theo đúng thiết kế và tiến độ.</p>
                <span class="process-number">04</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="process-box">
                <i class="fas fa-check-circle"></i>
                <h5>Bước 5: Nghiệm Thu & Bàn Giao Công Trình</h5>
                <p>📌 Kiểm tra chất lượng, số lượng, chi tiết công trình. 📌 Bàn giao hoàn thiện, hướng dẫn sử dụng và bảo trì.</p>
                <span class="process-number">05</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="process-box">
                <i class="fas fa-shield-alt"></i>
                <h5>Bước 6: Bảo Hành - Hỗ Trợ Hậu Mãi</h5>
                <p>📌 Bảo hành lên đến 2 năm, bảo trì định kỳ. 📌 Hỗ trợ khách hàng nhanh chóng trong vòng 48h.</p>
                <span class="process-number">06</span>
            </div>
        </div>
    </div>
</div>
<!-- end quy trình làm việc-->
<!-- Services Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 pr-lg-5">
                <h6 class="text-primary font-weight-normal text-uppercase mb-3">Dịch vụ tuyệt vời của chúng tôi</h6>
                <h1 class="mb-4 section-title">Dịch vụ thiết kế nội thất tuyệt vời cho ngôi nhà của bạn</h1>
                <p>Chúng tôi mang đến những giải pháp thiết kế nội thất sáng tạo, hiện đại và đầy tiện nghi, giúp biến không gian sống của bạn trở nên hoàn hảo. Với đội ngũ kiến trúc sư chuyên nghiệp, chúng tôi cam kết mang lại sự hài lòng cao nhất cho khách hàng.</p>
                <p>Từ việc lựa chọn màu sắc, nội thất cho đến bố trí không gian, mỗi chi tiết đều được chăm chút để tạo nên sự hài hòa, tiện lợi và sang trọng. Hãy để chúng tôi đồng hành cùng bạn trong hành trình kiến tạo tổ ấm mơ ước!</p>
                <a href="" class="btn btn-primary mt-3 py-2 px-4">Xem Thêm</a>
            </div>

            <div class="col-lg-6 p-0 pt-5 pt-lg-0">
                <div class="owl-carousel service-carousel position-relative">
                    <div class="d-flex flex-column text-center bg-light mx-3 p-4">
                        <h3 class="flaticon-bedroom display-3 font-weight-normal text-primary mb-3"></h3>
                        <h5 class="mb-3">Thiết kế Phòng Ngủ</h5>
                        <p class="m-0">Mang đến không gian nghỉ ngơi ấm cúng, thư giãn với phong cách hiện đại, tiện nghi và tối ưu hóa không gian.</p>
                    </div>
                    <div class="d-flex flex-column text-center bg-light mx-3 p-4">
                        <h3 class="flaticon-kitchen display-3 font-weight-normal text-primary mb-3"></h3>
                        <h5 class="mb-3">Thiết kế Nhà Bếp</h5>
                        <p class="m-0">Biến căn bếp của bạn thành một không gian nấu nướng tiện lợi, gọn gàng và đầy cảm hứng với thiết kế tối ưu.</p>
                    </div>
                    <div class="d-flex flex-column text-center bg-light mx-3 p-4">
                        <h3 class="flaticon-bathroom display-3 font-weight-normal text-primary mb-3"></h3>
                        <h5 class="mb-3">Thiết kế Phòng Tắm</h5>
                        <p class="m-0">Kết hợp giữa phong cách hiện đại và sự tiện nghi, giúp phòng tắm trở thành nơi thư giãn lý tưởng cho gia đình bạn.</p>
                    </div>
                    <div class="d-flex flex-column text-center bg-light mx-3 p-4">
                        <h3 class="flaticon-living-room display-3 font-weight-normal text-primary mb-3"></h3>
                        <h5 class="mb-3">Thiết kế Phòng Khách</h5>
                        <p class="m-0">Tạo nên không gian phòng khách sang trọng, tiện nghi và phù hợp với phong cách sống của gia đình bạn.</p>
                    </div>
                    <div class="d-flex flex-column text-center bg-light mx-3 p-4">
                        <h3 class="flaticon-office display-3 font-weight-normal text-primary mb-3"></h3>
                        <h5 class="mb-3">Thiết kế Phòng Làm Việc</h5>
                        <p class="m-0">Thiết kế phòng làm việc chuyên nghiệp, tối ưu ánh sáng và không gian để tăng năng suất làm việc.</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<!-- Services End -->
<!-- About Start -->
<!-- About & Team Section -->
<div class="container-fluid bg-light py-5">
    <div class="container">
        <div class="row align-items-center">
            <!-- Kinh nghiệm -->
            <div class="col-lg-5">
                <div class="d-flex flex-column align-items-center justify-content-center bg-primary text-white h-100 py-5 px-4 text-center rounded">
                    <i class="flaticon-brickwall display-3 text-secondary mb-3"></i>
                    <h2 class="display-4 font-weight-bold mb-2">5+</h2>
                    <h3 class="mb-0">Năm kinh nghiệm</h3>
                </div>
            </div>
            <!-- Giới thiệu -->
            <div class="col-lg-7 my-4 my-lg-0 pl-lg-5">
                <h6 class="text-primary font-weight-bold text-uppercase mb-3">Về chúng tôi</h6>
                <h2 class="mb-4 font-weight-bold">Công ty thiết kế nội thất hàng đầu tại TP. Hồ Chí Minh</h2>
                <p class="lead text-dark"><strong>VNK DESIGN</strong> tự hào là công ty thiết kế nội thất hàng đầu, mang đến những không gian <span class="text-success">đẳng cấp, sáng tạo và đầy cảm hứng</span> cho mọi khách hàng.</p>
                <div class="row text-center mt-4">
                    <div class="col-md-6 mb-4">
                        <div class="p-4 border rounded shadow">
                            <h4 class="text-dark font-weight-bold">🎨 Thiết Kế Độc Đáo</h4>
                            <p>Phong cách hiện đại, sang trọng và đầy sáng tạo.</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="p-4 border rounded shadow">
                            <h4 class="text-dark font-weight-bold">🛠️ Thi Công Chất Lượng</h4>
                            <p>Sử dụng vật liệu cao cấp, đảm bảo bền đẹp.</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="p-4 border rounded shadow">
                            <h4 class="text-dark font-weight-bold">🏡 Giải Pháp Tối Ưu</h4>
                            <p>Không gian tiện nghi, tối ưu công năng.</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="p-4 border rounded shadow">
                            <h4 class="text-dark font-weight-bold">💼 Chuyên Nghiệp</h4>
                            <p>Đồng hành từ tư vấn đến hoàn thiện.</p>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <p class="font-italic">👉 <strong>Hãy để VNK DESIGN kiến tạo không gian sống lý tưởng cho bạn!</strong></p>
                    <a href="contact.html" class="btn btn-primary btn-lg">Liên hệ ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Đội ngũ -->
<div class="container-fluid bg-light py-5">
    <div class="container text-center">
        <h6 class="text-primary font-weight-bold text-uppercase mb-3">Đội ngũ</h6>
        <h1 class="mb-5"> Các thành viên của chúng tôi</h1>
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="team text-center">
                    <img class="img-fluid w-100 rounded" src="img/team-1.jpg" alt="">
                    <h5 class="mt-3">Tên Nhân Viên</h5>
                    <p>Chức vụ</p>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-outline-primary mx-1" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-primary mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-primary mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="team text-center">
                    <img class="img-fluid w-100 rounded" src="img/team-2.jpg" alt="">
                    <h5 class="mt-3">Tên Nhân Viên</h5>
                    <p>Chức vụ</p>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-outline-primary mx-1" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-primary mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-primary mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="team text-center">
                    <img class="img-fluid w-100 rounded" src="img/team-3.jpg" alt="">
                    <h5 class="mt-3">Tên Nhân Viên</h5>
                    <p>Chức vụ</p>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-outline-primary mx-1" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-primary mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-primary mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="team text-center">
                    <img class="img-fluid w-100 rounded" src="img/team-4.jpg" alt="">
                    <h5 class="mt-3">Tên Nhân Viên</h5>
                    <p>Chức vụ</p>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-outline-primary mx-1" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-primary mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-primary mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Start -->
<div class="container-fluid bg-light pt-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col text-center mb-4">
                <h6 class="text-primary font-weight-normal text-uppercase mb-3">Our Blog</h6>
                <h1 class="mb-4">Read The Latest News & Articles From Our Blog</h1>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-md-4 mb-4">
                <div class="card border-0 mb-2">
                    <img class="card-img-top" src="img/blog-1.jpg" alt="">
                    <div class="card-body bg-white p-4">
                        <div class="d-flex align-items-center mb-3">
                            <a class="btn btn-primary" href=""><i class="fa fa-link"></i></a>
                            <h5 class="m-0 ml-3 text-truncate">Diam amet eos at no eos</h5>
                        </div>
                        <p>Diam amet eos at no eos sit, amet rebum ipsum clita stet, diam sea est diam eos, sit vero stet justo</p>
                        <div class="d-flex">
                            <small class="mr-3"><i class="fa fa-user text-primary"></i> Admin</small>
                            <small class="mr-3"><i class="fa fa-folder text-primary"></i> Web Design</small>
                            <small class="mr-3"><i class="fa fa-comments text-primary"></i> 15</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card border-0 mb-2">
                    <img class="card-img-top" src="img/blog-2.jpg" alt="">
                    <div class="card-body bg-white p-4">
                        <div class="d-flex align-items-center mb-3">
                            <a class="btn btn-primary" href=""><i class="fa fa-link"></i></a>
                            <h5 class="m-0 ml-3 text-truncate">Diam amet eos at no eos</h5>
                        </div>
                        <p>Diam amet eos at no eos sit, amet rebum ipsum clita stet, diam sea est diam eos, sit vero stet justo</p>
                        <div class="d-flex">
                            <small class="mr-3"><i class="fa fa-user text-primary"></i> Admin</small>
                            <small class="mr-3"><i class="fa fa-folder text-primary"></i> Web Design</small>
                            <small class="mr-3"><i class="fa fa-comments text-primary"></i> 15</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card border-0 mb-2">
                    <img class="card-img-top" src="img/blog-3.jpg" alt="">
                    <div class="card-body bg-white p-4">
                        <div class="d-flex align-items-center mb-3">
                            <a class="btn btn-primary" href=""><i class="fa fa-link"></i></a>
                            <h5 class="m-0 ml-3 text-truncate">Diam amet eos at no eos</h5>
                        </div>
                        <p>Diam amet eos at no eos sit, amet rebum ipsum clita stet, diam sea est diam eos, sit vero stet justo</p>
                        <div class="d-flex">
                            <small class="mr-3"><i class="fa fa-user text-primary"></i> Admin</small>
                            <small class="mr-3"><i class="fa fa-folder text-primary"></i> Web Design</small>
                            <small class="mr-3"><i class="fa fa-comments text-primary"></i> 15</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->